@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+JP&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-family: 'Noto Sans', sans-serif;
}

body {
	min-width: 300px;
}

nav {
	flex-basis: 33%;
	max-width: 33%;
	display: flex;
	justify-content: center;
}

.drop {
	display: none;
	background-color: black;
	padding-bottom: 10px;
	text-align: center;
	list-style: none;
	width: 100%;
}

.drop ul {
	margin: auto;
}

.drop li {
	padding: 10px 0px 10px 0px;
	font-size: 20px;
}

.container {
	font-family: 'Noto Sans', sans-serif;
}

.content {
	padding: 50px 10px 50px 10px;
	margin: auto;
	max-width: 500px;
}

.date {
	flex-basis: 34%;
	max-width: 34%;
	color: #c4c4c4;
	font-weight: bold;
	text-align: center;
	font-size: 24px;
	cursor: pointer;
}

.navbar {
	width: 100%;
	background-color: black;
}

.mobile-nav {
	display: none;
}

.nav-content {
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: space-between;
	width: 95%;
	height: 75px;
	margin: auto;
}

.nav-logo {
	flex-basis: 33%;
	max-width: 33%;
}

.nav-links {
	width: 100%;
	display: flex;
	list-style: none;
	justify-content: flex-end;
}

.nav-links > li {
	margin-right: 20px;
}

.nav-link-search {
	width: 50%;
	display: flex;
	list-style: none;
	padding: 7px 10px 7px 10px;
	border: 2px solid black;
	border-radius: 20px;
	margin-right: 10px;
	transition: border-color 0.2s ease;
}

.nav-link-search:hover,
.nav-link-search:focus-within {
	border-color: #c4c4c4;
}

.nav-link-search:hover .nav-link-search-box,
.nav-link-search:focus-within .nav-link-search-box{
	opacity: 1;
}

.nav-link-drop-search {
	width: 100%;
	display: flex;
	list-style: none;
	margin-right: 10px;
	border-bottom: 2px solid #c4c4c4;
}

.nav-link-drop-search > li {
	padding: 0;
}

.nav-link-drop-search-box {
	width: 90%;
	padding-right: 20px;
}

.nav-link-search-box {
	width: 90%;
	padding-right: 20px;
	opacity: 0;
	transition: opacity 0.2s ease;
}

.nav-link-search-button {
	cursor: pointer;
	width: 10%;
	display: flex;
	align-items: center;
	justify-content: right;
}

.nav-link-search-button input {
	cursor: inherit;
}

.nav-link-item {
	display: flex;
	align-items: center;
}

.nav-link-item:last-child {
	margin-right: 0px;
}

.nav-link-text {
	color: #c4c4c4;
	text-decoration: none;
	font-size: 16px;
	position: relative;
	width: 100%;
}

.nav-link-text::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #c4c4c4;
	transform-origin: bottom right;
	transition: transform 0.2s ease-out;
	transform: scaleX(0);
}

.nav-link-text:hover::after {
	transform-origin: bottom left;
	transform: scaleX(1);
}

/* Calendar Dropdown Stylings */
.calendar {
	width: 350px;
	margin: auto;
	position: absolute;
	z-index: 2;
	left: 0;
	right: 0;
}

/* Account Page Stylings */
.heading {
	font-size: 40px;
	margin: auto;
	text-align: center;
	margin-bottom: 40px;
}

.input-box {
	width: 70%;
	min-width: 320px;
	font-size: 22px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0px auto 30px auto;
}

.input-box input {
	max-width: 150px;
	height: 30px;
	line-height: 30px;
	border: 2px solid black;
	border-radius: 5px;
	padding: 0px 5px 3px 5px;
	font-size: 18px;
}

.article-link {
	text-decoration: underline;
	color: black;
}

.article-details {
	display: flex;
	justify-content: space-between;
}

.login-button {
	background-color: black;
	color: #c4c4c4;
	padding: 5px;
	cursor: pointer;
	margin: auto;
	display: block;
}

.error-msg {
	margin: 50px auto 50px auto;
	font-size: 18px;
	text-align: center;
	color: red;
}

.search-bar {
	visibility: hidden;
	border: none;
	height: 0;
}

.search-bar * {
	visibility: inherit;
}

@media screen and (max-device-width: 899px) {
	.mobile-nav {
		display: inline-flex;
		justify-content: flex-end;
		cursor: pointer;
	}
	nav {
		display: none;
	}
}

@media screen and (min-device-width: 900px) and (max-device-width: 1439px) {
	.nav-link-search {
		border-color: transparent
	}

	.nav-link-search-box {
		visibility: hidden;
	}

	.nav-link-search:hover,
	.nav-link-search:focus-within {
		border-color: transparent;
	}

	.search-bar {
		visibility: visible;
		width: 33%;
		max-width: 33%;
		margin: auto;
		display: none;
		justify-content: center;
		align-items: center;
		border-bottom: 3px solid black;
		margin-top: 40px;
		height: 100%;
	}

	.search-bar > * {
		display: inherit;
		visibility: inherit;
	}
}
